$theme-colors: (
    "info": tomato,
    "danger": teal,
    "primary": #17a2b8
);
@import '~bootstrap/scss/bootstrap.scss';
body {
  margin: 0;
  font-family: Gilroy, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  color: $gray-200;

}
*>*{
  margin: 0;
  padding: 0;
}
*, body{
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
